.link-bar {
  display: flex;
}
.link-bar-left, .link-bar-right {
  flex-grow: 1;
}

.editable {
  border: 1px solid black;
}

.jrr-navbar {
  margin-bottom: 3rem;
}

.link-bar-left {
  text-align: left;
}

.link-bar-right {
  text-align: right;
}

.link-bar a {
  display: inline-block;
  margin: 0 1rem;
}
.product-container {
  padding: 3rem 3rem;
}

.detailed-text {
  white-space: pre-line;
}
