{% extends "base.html" %}

{% block content %}

<h2>Statistics</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Insights</h3>

    <div class="detailed-text">
      Kopi Yogyakarta is the most popular product in Bandung.

      Kopi Jawa is mostly purchased from Surabaya.
    </div>
  </div>
  <div class="col-md-6">
    <h3>This Month</h3>

    <div class="detailed-text">
      Orders: {{tmo}}

      Lorem ipsum dolor sit amet.

      Ad deleniti nesciunt expedita beatae?

      Sapiente alias quia aperiam saepe?

      Dolorem, porro beatae ullam aut?

      Laudantium ab tenetur porro, possimus.

      Incidunt est fugit, ipsam enim!

      Architecto perferendis inventore maiores est.

      Voluptatem quae temporibus quos, atque.

      Facere iste corporis, eaque tempora!

      Magnam eius, ipsa quaerat quo!

      Consequatur, nobis voluptatibus! Eius, rerum!

      Quaerat aperiam pariatur, cupiditate magni!

      Neque sapiente facere maxime quaerat!

      Nisi, voluptatibus. Possimus, soluta, optio.

      Quisquam cum error saepe magnam!

    </div>
  </div>
</div>

{% endblock %}
